<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soecode.lyf.mybatis.master.UserDao" >

  <resultMap id="BaseResultMap" type="com.soecode.lyf.entity.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="realName" property="realName" jdbcType="VARCHAR" />
  </resultMap>
 
  
  <insert id="insert" parameterType="com.soecode.lyf.entity.User" >
    insert into user (id, real_name)
    values (#{id,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR})
  </insert>
  
</mapper>